:root {
    --white: #ffffff;
    --main-bg: #F6F9FC;
    --border-bg: #EAECF0;
    --white-transparent: rgba(255, 255, 255, 0.3);
    --gray-transparent: #EAECF04D;
    --gray-hidden: #42546680;
    --gray-hidden2: rgba(66, 84, 102, 0);
    --gray-hidden3: #42546666;
    --gray: #425466;

    --light-bue: #C5DAEE;
    --violet: #7F56D9;
    --blue: #005DE8;
    --dark-blue: #000080;
    --black: #05263F;
    --blue-transparent: #005DE866;
    --black-transporent: #00008033;

    --blue-transparent: rgba(0, 93, 232, 0.30);
}


body {
    font-family: "Barlow", sans-serif;
    color: var(--black);
}

header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.wrapper-header {
    width: 100%;
    margin: 0 auto;
    max-width: 1010px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 11px;
}

.logo-name .name {
    width: 100px;
    height: 23px;
}
.btn {
    min-width: 124px;
    padding: 6px 18px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 60px;
    border: none;
}

.btn-blue {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: .5s;
}

.btn-blue:hover {
    background-color: var(--blue);
}

.btn-blue:active {
    background-color: var(--dark-blue);
}

.link {
    margin-right: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: var(--black);
    text-decoration: none;
    transition: .4s;
}

.link:hover {
    color: var(--blue);
    transition: .4s;
}
.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-first-screen {
    height: 100vh;
    position: relative;
    padding-top: 100px;
    padding-left: 105px;
    display: flex;
    align-items: center;
    background: var(--main-bg) url("./img/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.wrapper-first-screen:before {
    content: '';
    position: absolute;
    width: 206px;
    height: 764px;
    left: 35%;
    top: -400.05px;
    background: var(--blue);
    opacity: 0.3;
    filter: blur(132px);
    transform: rotate(-45deg);
}
.wrapper-first-screen:after {
    content: '';
    position: absolute;
    width: 653px;
    height: 657px;
    left: calc(50% - 653px/2 + 428.5px);
    top: 551px;
    background: var(--blue);
    opacity: 0.3;
    filter: blur(132px);
}

.title-part {
    width: 517px;
    z-index: 2;
}

.title-part .title {
    margin-bottom: 24px;
}

.title-part .sub-title {
    margin-bottom: 40px;
}

.title {
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
}

.sub-title {
    color: var(--gray);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.price-box {
    position: relative;
    top: 0;
    left: 20%;
    width: 634.96px;
    height: 501.96px;
    z-index: 5;
}

.price-box:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -98px;
    top: 40px;
    background: url('./img/price-box-lines.svg') no-repeat;
    background-size: 77%;
    z-index: 1;
}


.range-box {
    position: absolute;
    width: 303px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
    background-color: var(--white);
    border-radius: 13.96px;
    border: 0.99px solid var(--border-bg);
    z-index: 2;
}


.amount {
    font-size: 15.28px;
    margin-top: 7px;
    color: var(--gray-hidden3);
}

.amount-prise {
    margin-bottom: 10px;
    color: var(--black);
    font-size: 48px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: var(--black);
}

.range img {
    width: 179px;
    height: 30px;
}

.range-inner {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.range-item {
    width: 1px;
    border: 1px solid var(--gray-hidden3);
    border-radius: 1px;
}

.range-item-min {
    height: 11px;
}

.range-item-max {
    height: 18px;
}

@keyframes rangeItemAnimation {
    from {
        border-color: var(--gray-hidden2);
    }
    50% {
        height: 30.57px;
        border: 1px solid var(--blue);
        box-shadow: 0 -0 0 1px var(--blue)
    }
    to {
        border-color: var(--blue-transparent);
    }
}

.min-range {
    margin-right: 4px;
}
.max-range {
    margin-left: 4px;
}

.amount-prise .hidden {
    color: var(--gray-hidden2);
}

.range-box .sub-title {
    font-size: 15.28px;
    line-height: 22.93px;
}

.bar-chart-box {
    position: relative;
    bottom: -220px;
    width: 303px;
    height: 168.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 13.96px;
    border: 0.99px solid var(--border-bg);
    z-index: 2;
}

.bar-chart-box img {
    width: 281.61px;
    height: 146.18px;
}

.revenue-box {
    position: absolute;
    top: 111px;
    left: -208px;
    width: 194.33px;
    height: 187.78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white) url("./img/activity-gauge.svg");
    background-size: 154px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 13.96px;
    border: 0.99px solid var(--border-bg);
    z-index: 2;
}

.revenue-box img {
    width: 154.07px;
    height: 154.07px;
}

.icon-box {
    position: absolute;
    width: 70.96px;
    height: 70.96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 13.96px;
    border: 0.99px solid var(--border-bg);
    z-index: 2;
}

.dollar-icon {
    left: -122px;
    top: -32px;
    background: var(--white) url("./img/dollar.svg");
    background-position: center;
    background-repeat: no-repeat;
}


.people-icon {
    left: 352px;
    top: 53px;
    background: var(--white) url("./img/people.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33px;
}

.bank-icon {
    left: -132px;
    top: 392px;
    background: var(--white) url("./img/bank.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.card-icon {
    top: 375px;
    left: 354px;
    background: var(--white) url("./img/card.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33px;
}

.card-icon img {
    width: 33px;
    height: 23px;
}

.title-middle {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.wrapper-second-screen {

    padding: 130px 75px 130px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wrapper-second-screen .title-middle {
    text-transform: capitalize;
}

.steps-life-cycle {
    width: 100%;
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.steps {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.step {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.step:not(:last-child):before {
    content: '';
    position: absolute;
    top: 35px;
    left: 37px;
    width: 1px;
    height: 50px;
    border-left: 2px dashed var(--blue-transparent);
}

.step .sub-title {
    margin: 0;
    padding-left: 20px;
    color: var(--black);
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.label {
    max-width: fit-content;
    min-width: 74px;
    height: 29px;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    line-height: 21px;
    border-radius: 11.08px;
    border: 0.99px solid var(--border-bg);
    background-color: var(--white);
    color: var(--blue);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
}


.life-cycle{
    position: relative;
    min-width: 600.67px;
    height: 514.86px;
    background-color: var(--white);
    border-radius: 12px;
    border: 0.99px solid var(--border-bg);
    box-shadow: 0 21.8349px 48.0367px rgba(0, 0, 128, 0.1), 0 0.987634px 1.97527px rgba(16, 24, 40, 0.05);
}


.life-cycle-wrapper {
    width: 590px;
    height: 528px;
    position: relative;
    background-image: url('./img/lines.svg');
    background-size: 386px;
    background-position: 100px 50px;
    background-repeat: no-repeat;
}

.circle-icon-big {
    width: 144px;
    height: 144px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    border: 0.99px solid var(--border-bg);
    box-shadow: 0 7.5493px 16.3568px rgba(0, 0, 0, 0.05);
}

.circle-icon-big img {
    width: 30px;
    height: 30px;
}

.icon-circle-text {
    max-width: 120px;
    margin-top: 12px;
    font-size: 12.6px;
    text-align: center;
    font-weight: 500;
}

.die {
    max-width: 161px;
    padding: 5px 10px;
    font-size: 11.32px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    background: linear-gradient(127.11deg, #5959EB 13.49%, #000080 88.7%);
    border-radius: 30.1972px;
}

.circle-icon-user {
    left: 56px;
    top: 23px;
}

.die-submit {
    position: absolute;
    top: 46px;
    left: 218px;
}

.circle-icon-setting {
    top: 73px;
    left: 407px;
}

.die-install {
    position: absolute;
    top: 269px;
    left: 410px;
}

.circle-icon-loupe {
    top: 355px;
    left: 176px;
}

.die-borrower {
    position: absolute;
    top: 281px;
    left: 33px;
}

.life-cycle .logo-name {
    position: absolute;
    top: 220px;
    left: 227px;
}

.wrapper-third-screen {
    padding: 130px 0;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-bg) url("./img/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper-third-screen .label {
    padding: 4px 19px 4px 19px;
}

.wrapper-third-screen .title {
    max-width: 80%;
    margin-bottom: 100px;
}

.loan-types {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.loan-type {
    width: 355px;
    height: 227px;
    margin: 0 32.5px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.circle-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    border: 0.99px solid var(--border-bg);
}

.loan-type .circle-icon {
    width: 82px;
    height: 82px;
    margin-bottom: 24px;
    box-shadow: 0 20px 44px 0 #0000801A;
}

.loan-type .circle-icon img {
    width: 40px;
    height: 40px;
}

.title-min {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.05em;
    margin-bottom: 16px;

}
.sub-title-min{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.05em;
    line-height: 27px;
}

.wrapper-fourth-screen {
    padding: 130px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.features-benefits {
    max-width: 1010px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.feature-benefit {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg);
    border-radius: 11.08px;
    border: 0.9px solid var(--border-bg);
}
.feature-benefit:nth-child(even) {
    flex-direction: row-reverse;
}

.img-box {
    width: 423px;
    height: 280px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11.08px;
    border: 0.99px solid var(--border-bg);
    z-index: 2;
    overflow: hidden;
}

.feature-benefit-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.img-threeDocuments {
    background-image: url("./img/threeDocuments.svg");
}

.blur {
    z-index: -1;
    position: absolute;
    width: 123px;
    height: 153px;
    left: calc(50% - 153px / 2);
    top: 204px;
    background: var(--blue);
    filter: blur(132px);
}

.features-benefits-text {
    max-width: 583px;
    line-height: 150%;
    letter-spacing: -0.05em;
}
.feature-benefit:nth-child(odd) .features-benefits-text{
    margin-right: 60px;
}

.feature-benefit:nth-child(even) .features-benefits-text {
    margin-left: 30px;
}



.features-benefits-text .title-middle {
    margin: 25px 0;
}

.features-benefits-text .sub-title-min {
    width: 457px;
}

.img-stack {
    background-image: url("./img/stack.svg");
    background-size: 90%;
    background-position: center;
}

.img-docAndIcon {
    background-image: url("./img/docAndIcon.svg");
}

.img-magnifier-document {
    background-size: 256px;
    background-position: center;
    background-image: url("./img/magnifier-document.svg");
}

.img-final-document {
    background-image: url("./img/final-document.svg");
}

.img-bankCards {
    background-position: center;
    background-image: url("./img/bankCards.svg");
}

.img-puzzle {
    background-image: url("./img/puzzle.svg");
}

.wrapper-fifth-screen {
    padding: 130px 0;
    background: var(--main-bg) url("./img/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner {
    position: relative;
    height: 503px;
    background: var(--black) url("./img/b.svg");
    background-repeat: no-repeat;
    background-position: 106% 0;
    overflow: hidden;
    z-index: 1;
}

.banner:before {
    content: '';
    position: absolute;
    width: 866px;
    height: 866px;
    top: 113px;
    left: 20%;
    background: #005DE8;
    opacity: 0.5;
    filter: blur(132px);
    z-index: -1;
}

.wrapper-banner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 130px 75px 0;
    color: var(--white);
    background: url("./img/woman.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.wrapper-banner .title-middle {
    width: 650px;
    text-align: left;
}

.btn-transparent {
    margin-left: 20px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-gray {
    min-width: 119px;
    height: 29px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--white-transparent);
    border: 0.9px solid var(--gray-transparent);
    border-radius: 11.08px;
    padding: 0 4px;
}

.wrapper-fifth-screen .title {
    margin-top: 130px;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 80%;
    min-width: 0;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}
.navigation {
    margin-top: 40px;
}

.navigation .embla__dot--selected {
    background-color: var(--black);
}

.navigation button{
    width: 50px;
    height: 4px;
    margin: 0 5px;
    background-color: var(--black-transporent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review {
    max-width: 1280px;
    min-width: 850px;
    padding: 39px 77px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border: 0.9px solid var(--border-bg);
}

.review .circle-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.review .circle-icon img {
    width: 18px;
    height: 13px;
}

.review .comment {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: center;
}
.review .name {
    margin-bottom: 4px;
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.review .job-title {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}

.partners {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partner-logo {
    margin: 0 62.5px 40px;
}

.wrapper-sixth-screen {
    padding: 130px 0;
}

.questions {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    width: 850px;
    /*padding: 30px;*/
    max-height: 86px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: var(--main-bg);
    border: 0.9px solid var(--border-bg);
    border-radius: 11.08px;

    transition: max-height 0.7s ease-in-out;
    cursor: pointer;
}

.question::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 15px;
    background: url('./img/chevron-down.svg') no-repeat;
    transition: height .2s ease-in-out;

}
.question.active{
    max-height: 500px;
}

.question .title-min {
    padding: 30px;
    margin-bottom: 0;
}

.question.active .title-min {
    padding-bottom: 18px;
}
.question.active:before {
    transform: rotate(180deg);
    transition: transform .7s ease-in-out;
}

.question .sub-title-min {
    padding: 0 30px 30px
}

footer {
    background: var(--white);
}
.wrapper-footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-bg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
}

.nav-item a.hidden {
    color: var(--gray-hidden);
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media-item {
    width: 20px;
    height: 20px;
    margin: 0 11px;
}

@media (min-width: 1440px) {
    .content-wrapper {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Example shadow, adjust as needed */
    }
}

@media (max-width: 1440px ) and (min-width: 1380px) {
    .title-part {
        width: 45%;
    }

    .price-box {
        transform: none;
        top: 0;
        left: 20%;
    }
}

@media (max-width: 1300px){

    .wrapper-fourth-screen .feature-benefit .title {
        text-align: left;
        margin-bottom: 20px;
    }

    .steps-life-cycle {
        flex-direction: column;
        align-items: center;
    }

    .steps {
        margin-right: 0;
    }

    .life-cycle {
        min-width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}
@media (max-width: 1114px) {
    .wrapper-fourth-screen .feature-benefit .title {
        font-size: 42px;
    }

    .img-box {
        width: 393px;
        height: 260px;
    }

}

@media (max-width: 1380px) and (min-width: 1290px) {
    .price-box {
        left: 19%;
    }
}

@media (max-width: 1290px) {
    .wrapper-first-screen {
        padding-left: 55px;
    }

    .wrapper-fourth-screen {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-fourth-screen .title {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .features-benefits {
        margin-left: 0;
    }

    .title-part {
        width: 40%;
    }

    .title-part .title{
        font-size: 75px;
        line-height: 75px;
    }

    .price-box {
        left: 19%;
        transform: scale(0.9);
    }

    .wrapper-banner {
        padding-top: 60px;
    }

    .wrapper-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .wrapper-banner .btn-transparent{
        margin-left: 0;
        margin-top: 20px;
    }
}


@media (max-width: 1145px) {

    .price-box:before {
        background-size: auto;
    }
}

@media (max-width: 1055px) and (min-width: 990px) {
    .title-part {
        width: 517px;
    }

    .price-box {
        left: 11%;
        transform: scale(0.8);
    }
}

@media (max-width: 1220px) {

    .wrapper-banner .title-middle {
        width: 60%;
    }

    .feature-benefit:nth-child(even) .features-benefits-text {
        margin-right: 20px;
        margin-left: 0;
    }

    .feature-benefit:nth-child(odd) .features-benefits-text {
        margin-right: 0;
        margin-left: 20px;

    }
}

@media (max-width: 1010px) {
    .wrapper-footer {
        padding: 40px 30px
    }
}

@media (max-width: 1050px) {

    .step {
        width: 90%;
    }

    .sub-title {
        font-size: 16px;
    }

    .step-file .img-icon img {
        width: 150px;
    }

    .step-document .circle-icon {
        min-width: 70px;
        width: 70px;
        height: 70px;
    }

    .circle-icon.icon-computer img {
        width: 44px;
    }

    .wrapper-third-screen .title {
        max-width: 90%;
        margin: 10px auto 40px;
        /*margin-top: 10px;*/
    }

    .wrapper-third-screen .label {
        margin: 0 auto;
    }

    .wrapper-banner .title-middle {
        width: 70%;
    }
    .wrapper-banner {
        background-position: 120%;
    }
}


@media (max-width: 1080px) {
    .wrapper-header {
        max-width: none;
        padding: 0 30px;
    }

    .review {
        min-width: 630px;
    }
}


@media (max-width: 990px) and (min-width: 910px){
    .title-part {
        width: 517px;
    }

    .title-part .title {
        font-size: 55px;
        line-height: 55px;
    }

    .price-box {
        left: 19%;
        transform: scale(0.8);
    }
}

@media (max-width: 935px)  {
    .nav-item {
        margin: 0 10px;
    }

    .img-stack {
        background-size: 160%;
        background-position: 8px;
    }

}

@media (max-width: 950px)  {
    .wrapper-banner .title-middle {
        font-size: 42px;
    }

    .wrapper-banner {
        background-position: 110% 100px;
        background-size: 470px;
    }
}

@media (max-width: 910px) {
    .wrapper-first-screen {
        flex-direction: column;
        padding: 110px 10px 40px 10px;
        height: auto;
    }

    .wrapper-fourth-screen {
        padding: 130px 0;
    }

    .features-benefits {
        align-items: center;
    }

    .title-part {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .title-part .title {
        font-size: 55px;
        line-height: 55px;
    }

    .price-box {
        top: 30px;
        left: 188px;
    }

    .features-benefits {
        width: 100%;
    }

    .feature-benefit, .question {
        width: 95%;
    }
}

@media (max-width: 855px) {
    .nav-item a {
        font-size: 14px;
    }
    .feature-benefit:nth-child(even),
    .feature-benefit {
        flex-direction: column;
    }

    .img-box {
        width: 100%;
    }

    .features-benefits-text {
        margin-top: 30px;
        width: 100%;

    }

    .features-benefits-text,
    .features-benefits-text .sub-title-min,
    .feature-benefit:nth-child(odd) .features-benefits-text{
        max-width: none;
        width: 100%;
        text-align: center;
    }

    .wrapper-fourth-screen .feature-benefit .title {
        text-align: center;
    }

    .feature-benefit:nth-child(odd) .features-benefits-text {
        margin-left: 0;
    }

    .feature-benefit:nth-child(even) .features-benefits-text {
        margin-right: 0;
    }

    .img-stack {
        background-size: auto;
        background-position: center;
    }
}

@media (max-width: 840px)  {

    .social-media-item img{
        margin: 0 7px;
    }

    .review .comment {
        font-size: 20px;
    }
    .review .name {
        font-size: 16px;
    }

    .review .job-title{
        font-size: 14px;
    }

    .wrapper-banner .title-middle {
        font-size: 42px;
    }

    .wrapper-banner {
        background-position: 120% 150px;
        background-size: 420px;
    }

    .wrapper-btns .btn {
        font-size: 18px;
    }

    .wrapper-banner .title-middle {
        font-size: 38px;
        line-height: 38px;
    }

    .wrapper-banner {
        padding-top: 110px;
    }

}


@media (max-width: 810px) {
    .title-part {
        width: 90%;
        font-size: 45px;
        line-height: 45px;
    }

    .wrapper-second-screen .step .title {
        font-size: 28px;
        line-height: 28px;
    }

    .step {
        width: 100%;
    }

    .step .sub-title {
        font-size: 20px;
        line-height: 22px;
    }

    .step:not(:last-child):before {
        height: 44px;
    }
}


@media (max-width: 770px) {
    .wrapper-footer {
        flex-direction: column;
    }
    .wrapper-footer .logo-name {
        margin-bottom: 10px;
    }

    .title-middle {
        font-size: 42px;
        line-height: 42px;
    }

    .title-min {
        max-width: 490px;
    }

    .circle-icon-user {
        left: 106px;
        top: 43px;
    }

    .circle-icon-setting {
        top: 83px;
        left: 357px;
    }



    .die-borrower {
        top: 271px;
        left: 83px;
    }

    .die-install {
        position: absolute;
        top: 259px;
        left: 370px;
    }

    .life-cycle-wrapper {
        background-size: 356px;
        background-position: 110px 40px;
    }

    .die-submit {
        top: 36px;
    }

    .wrapper-second-screen {
        padding-bottom: 80px;
    }
}


@media (max-width: 805px) {
    .wrapper-banner {
        padding: 70px 70px 0;
    }
}

@media (max-width: 695px) {
    .title-part .sub-title{
        margin-bottom: 10px;
    }
    .title-part .title {
        font-size: 45px;
        line-height: 45px;
    }

    .wrapper-banner {
        padding: 50px 30px 0;
    }

    .wrapper-banner .title-middle {
        width: 100%;
    }

    .wrapper-banner {
        background-position: 125% 169px;
        background-size: 390px;
    }

    .life-cycle {
        margin-top: 0;
        transform: scale(0.8);
    }


}

@media (max-width: 668px) {
    .review {
        min-width: 580px;
        padding: 20px 30px;
    }
}

@media (max-width: 640px) {
    .wrapper-second-screen {
        padding-bottom: 56px;
    }

    .life-cycle {
        margin-top: -50px;
        transform: scale(0.7);
    }
}

@media (max-width: 625px) {


    .title-part {
        margin-top: 30px;
    }

    .title-part .sub-title{
        font-size: 18px;
    }

    .title-part .btn{
        font-size: 18px;
    }

    .price-box {
        height: 370px;
        transform: scale(0.7);
        top: -10px;
        left: 146px;
    }


}
@media (max-width: 619px) {
    .review {
        min-width: 480px;
        padding: 20px 20px;
    }
}


@media (max-width: 575px) {

    .link {
        font-size: 16px;
        margin-right: 10px;
    }

    .partner-logo {
        width: 50%;
        margin: 0 0 30px;
        text-align: center;
    }

    .wrapper-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 80px 0;
        background: none;
    }

    .wrapper-banner .title-middle {
        text-align: center;
    }

    .title-min {
        max-width: 90%;
    }
}



@media (max-width: 548px) {

    .nav {
        flex-direction: column;
    }

    .wrapper-banner .title-middle {
        width: 85%;
    }

    .title-part .title {
        font-size: 35px;
        line-height: 35px;
    }
}

@media (max-width: 619px) {
    .review {
        min-width: 480px;
        padding: 20px 20px;
    }

    .review .comment {
        font-size: 16px;
        line-height: 24.2px;
        margin-bottom: 10px;
    }

    .review .name {
        font-size: 14px;
    }
    .review .job-title {
        font-size: 12px;
    }
}

@media (max-width: 522px) {
    .review {
        min-width: fit-content;
    }
}


@media only screen and (min-width: 1024px) and (min-height: 1366px) {
    .wrapper-first-screen {
        height: 50vh;
    }
}


@media only screen and (min-width: 912px) and (min-height: 1368px) {
    .wrapper-first-screen {
        height: 50vh;
    }
}

@media (max-width: 495px) {

    .wrapper-header .btn-blue {
        min-width: 104px;
        padding: 4px 8px;
        font-size: 16px;
    }

    .title-middle {
        font-size: 32px;
        line-height: 32px;
    }

    .wrapper-third-screen .title {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .wrapper-second-screen .sub-title {
        margin-bottom: 20px;
    }

    .img-stack {
        background-size: 90%;
    }

    .wrapper-second-screen {
        padding: 100px  20px 53px
    }

    .wrapper-third-screen,
    .wrapper-fourth-screen,
    .wrapper-fifth-screen,
    .wrapper-sixth-screen
    {
        padding: 100px 0;
    }

    .questions .title-min {
        padding: 20px;
        font-size: 20px;
        line-height: 20px;
    }

    .questions .sub-title-min {
        font-size: 16px;
        line-height: 25px;
    }

    .title-middle {
        width: 90%;
        margin: 0 auto;
        font-size: 37px;
        line-height: 37px;
    }

    .benefit-text-wrapper .benefit,
    .benefit-text-wrapper .feature{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}

@media (max-width: 495px) {
    .wrapper-fourth-screen .title {
        width: 90%;
    }
    .wrapper-banner .title-middle {
        font-size: 32px;
        line-height: 32px;
    }

    .wrapper-banner .btn-gray{
        font-size: 12px;
    }

    .wrapper-btns .btn {
        font-size: 14px;
    }
    .price-box {
        transform: scale(0.6);
        top: -30px;
        left: 123px;
    }

    .wrapper-fourth-screen .feature-benefit .title {
        width: 100%;
        font-size: 32px;
    }

    .features-benefits-text .sub-title-min {
        font-size: 16px;
    }

    .step:not(:last-child):before {
        height: 64px;
    }

    .life-cycle {
        width: 100%;
        min-width: 100%;
        height: 780px;
        padding-top: 100px;
        transform: none;
        margin-top: 0;
    }

    .circle-icon-big,
    .die {
        position: static;
        z-index: 2;
    }

    .life-cycle-wrapper {
        display: flex;
        width: 100%;
        min-width: 100%;
        height: 688px;
        position: relative;
        top: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: none;
    }


    .life-cycle-wrapper:after {
        content: '';
        width: 4px;
        height: 480px;
        top: 130px;
        position: absolute;
        background: linear-gradient(90deg, rgba(89, 89, 235, 1) 0%, rgba(0, 0, 128, 1) 100%);

        z-index: 1;
    }

    .life-cycle .logo-name {
        position: relative;
        top: -720px;
        left: 0;
    }
}

@media (max-width: 445px) {

    .wrapper-btn-link {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .link {
        margin-top: 5px;
        margin-right: 0;
    }


    .loan-type {
        width: 73%;
        margin: 0 0 20px;
    }
}

@media (max-width: 440px) {

    .price-box:before {
        height: 120%;
    }

    .title-part .btn {
        font-size: 14px;
    }
}

@media (max-width: 420px) {

    .wrapper-banner .title-middle {
        font-size: 29px;
        line-height: 30px;
    }

    .title-part {
        margin-top: 10px;
    }

    .title-part .title {
        margin-bottom: 20px;
    }

    .title-middle {
        font-size: 32px;
        line-height: 32px;
    }

    .title-min {
        font-size: 20px;
        line-height: 20px;
    }

    .price-box {
        height: 270px;
        transform: scale(0.6);
        top: -30px;
        left: 147px;
    }

    .dollar-icon {
        left: -102px;
        top: 28px;
    }
    .people-icon {
        left: 322px;
    }

    .bank-icon {
        left: -92px;
        top: 272px
    }

    .card-icon {
        top: 285px;
        left: 324px;
    }

    .loan-type .circle-icon {
        width: 62px;
        height: 62px;
    }

    .loan-type .circle-icon img {
        width: 30px;
        height: 30px;
    }

    .revenue-box,
    .price-box:before {
        display: none;
    }

    .price-box {
        width: 300px;
        left: 0;
    }

    .wrapper-header .btn{
        min-width: 104px;
        font-size: 15px;
    }

    .logo-name .name {
        width: 80px;
        height: 23px;
    }

    .logo {
        width: 34px;
        height: 35px;
    }

    .review .comment {
        font-size: 14px;
        line-height: 22.2px;
        margin-bottom: 10px;
    }
    .review .name {
        font-size: 13px;
    }

}


@media (max-width: 400px) {
    .partner-logo {
        width: 60%;
    }

    .img-box {
        height: 190px;
    }
}
@media (max-width: 385px) {
    .step {
        flex-direction: column;
        margin-bottom: 0;
    }
    .step:not(:last-child):before {
        display: none;
    }

    .wrapper-second-screen .sub-title {
        margin-top: 20px;
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    .step {
        padding: 20px;
    }

    .step-block .circle-icon-big {
        min-width: 86px;
        min-height: 86px;
        max-width: 86px;
        max-height: 86px;
    }

}

@media (max-width: 320px) {
    .loan-type {
        width: 83%;
    }

    .review .circle-icon {
        width: 30px;
        height: 30px;
    }

    .review .circle-icon img {
        width: 15px;
    }
}
