body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #000000; /* Black background */
}
canvas {
    display: block; /* Remove potential extra space below canvas */
} 