:root {
    --white: #ffffff;
    --main-bg: #F6F9FC;
    --border-bg: #EAECF0;
    --white-transparent: rgba(255, 255, 255, 0.3);
    --gray-transparent: #EAECF04D;
    --gray-hidden: #42546680;
    --gray-hidden2: rgba(66, 84, 102, 0);
    --gray-hidden3: #42546666;
    --gray: #425466;

    --light-bue: #C5DAEE;
    --violet: #7F56D9;
    --blue: #005DE8;
    --dark-blue: #000080;
    --black: #05263F;
    --blue-transparent: #005DE866;
    --black-transporent: #00008033;
    --blue-transparent: rgba(0, 93, 232, 0.30);
    --border-bg-transparent: rgba(234, 236, 240, 0.3);
}


body {
    font-family: "Barlow", sans-serif;
    color: var(--black);
}

header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.wrapper-header {
    width: 100%;
    margin: 0 auto;
    max-width: 1010px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 11px;
}

.logo-name .name {
    width: 100px;
    height: 23px;
}
.btn {
    min-width: 124px;
    padding: 6px 18px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 60px;
    border: none;
}

.btn-blue {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: .5s;
}

.btn-blue:hover {
    background-color: var(--blue);
}

.btn-blue:active {
    background-color: var(--dark-blue);
}

.link {
    margin-right: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: var(--black);
    text-decoration: none;
    transition: .4s;
}

.link:hover {
    color: var(--blue);
    transition: .4s;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-first-screen {
    height: 100vh;
    position: relative;
    padding-top: 100px;
    padding-left: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg) url("./img/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.wrapper-first-screen:before {
    content: '';
    position: absolute;
    width: 206px;
    height: 764px;
    left: 35%;
    top: -400.05px;
    background: #005DE8;
    opacity: 0.3;
    filter: blur(132px);
    transform: rotate(-45deg);
}

.title-part {
    width: 80%;
    z-index: 2;
}

.title-part .title {
    margin-bottom: 24px;
}

.title-part .sub-title {
    margin-bottom: 40px;
}

.title {
    font-size: 70px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.sub-title {
    color: var(--gray);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.blue {
    color: var(--blue);
}


.app-img {
    z-index: 1;
}

.big-text {
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.05em;
    color: var(--gray);
}


.wrapper-second-screen {
    padding: 130px 75px 45px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-second-screen .title-middle {
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: capitalize;
    text-align: left;
}

.wrapper-second-screen .sub-title {
    margin-bottom: 44px;
}

.steps-life-cycle {
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.steps {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.step {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.step:not(:last-child):before {
    content: '';
    position: absolute;
    top: 35px;
    left: 37px;
    width: 1px;
    height: 50px;
    border-left: 2px dashed var(--blue-transparent);
}

.step .sub-title {
    margin: 0;
    padding-left: 20px;
    color: var(--black);
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.label {
    max-width: fit-content;
    min-width: 74px;
    height: 29px;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    line-height: 21px;
    border-radius: 11.08px;
    border: 0.99px solid var(--border-bg);
    background-color: var(--white);
    color: var(--blue);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
}


.life-cycle{
    position: relative;
    min-width: 630.67px;
    height: 544.86px;
    background-color: var(--white);
    border-radius: 12px;
    border: 0.99px solid var(--border-bg);
    box-shadow: 0 21.8349px 48.0367px rgba(0, 0, 128, 0.1), 0 0.987634px 1.97527px rgba(16, 24, 40, 0.05);
}


.life-cycle-wrapper {
    width: 590px;
    height: 528px;
    position: relative;
    background-image: url('./img/lines2.svg');
    background-size: 517px;
    background-position: 63px 52px;
    background-repeat: no-repeat;
}

.circle-icon-big {
    width: 144px;
    height: 144px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    border: 0.99px solid var(--border-bg);
    box-shadow: 0 7.5493px 16.3568px rgba(0, 0, 0, 0.05);
}

.circle-icon-big img {
    width: 30px;
    height: 30px;
}

.icon-circle-text {
    max-width: 120px;
    margin-top: 12px;
    font-size: 12.6px;
    text-align: center;
    font-weight: 500;
}

.die {
    width: 165px;
    max-width: 161px;
    padding: 5px 10px;
    font-size: 11.32px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    background: linear-gradient(127.11deg, #5959EB 13.49%, #000080 88.7%);
    border-radius: 30.1972px;
}

.circle-icon-setting {
    top: 14px;
    left: 251px;
}

.die-automat {
    position: absolute;
    top: 222px;
    left: 443px;
}

.circle-icon-loupe {
    top: 371px;
    left: 438px;
}

.circle-icon-loupe-2 {
    top: 371px;
    left: 49px;
}

.die-monitor {
    position: absolute;
    top: 222px;
    left: 29px;
}

.life-cycle .logo-name {
    position: absolute;
    top: 225px;
    left: 238px;
}

.title-min {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.05em;
    margin-bottom: 16px;

}
.sub-title-min{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.05em;
    line-height: 27px;
}

.wrapper-third-screen {
    padding: 0 75px 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
}

.wrapper-third-screen .title {
    width: 100%;
    text-align: center;
}

.wrapper-third-screen > .title {
    margin-bottom: 50px;
}

.features-benefits {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.feature-benefit {
    width: 100%;
    min-height: 438px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 11.08px;
    border: 0.9px solid var(--border-bg);
}

.feature-benefit:nth-child(even) {
    flex-direction: row-reverse;
}


.feature-benefit:first-child .img-box,
.feature-benefit:last-child .img-box {
    border: none;
    background: none;
    box-shadow: none;
}
.feature-benefit:last-child .img-box .feature-benefit-img,
.feature-benefit:first-child .img-box .feature-benefit-img {
    background-size: contain;
    background-position: center;
    border: none;
}

.img-box {
    width: 423px;
    min-height: 406px;
    height: 406px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4.9px;
    border: 0.6px solid var(--border-bg);
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 3.94737px 30.7895px rgba(0, 0, 0, 0.05), 0 9.47368px 12.6316px -3.15789px rgba(16, 24, 40, 0.08), 0 3.15789px 4.73684px -1.57895px rgba(16, 24, 40, 0.03), 0 0.614118px 1.84235px rgba(16, 24, 40, 0.1), 0 0.614118px 1.22824px rgba(16, 24, 40, 0.06);
}

.feature-benefit .title {
    margin-top: 44px;
    margin-bottom: 24px;
    text-align: left;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.features-benefits-text {
    width: 457px;
    margin-left: 20px;
}

.feature-benefit-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.img-app {
    background-image: url("./img/app.svg");
}
.img-app-2 {
    background-image: url("./img/app2.svg");
}

.img-life-cycle {
    background-size: 90%;
    background-position: center;
    background-image: url("./img/liveCycle.svg");
}

.img-box-life-cycle {
    border: none;
    border-radius: 0;
    background-color: var(--white);
}

.title-middle {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.wrapper-fourth-screen {
    padding: 130px 0;
    background-color: var(--main-bg);
}

.questions {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    width: 850px;
    /*padding: 30px;*/
    max-height: 86px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: var(--white);
    border: 0.9px solid var(--border-bg);
    border-radius: 11.08px;

    transition: max-height 0.7s ease-in-out;
}

.question::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 15px;
    background: url('./img/chevron-down.svg') no-repeat;
    transition: height .2s ease-in-out;
    cursor: pointer;

}
.question.active{
    max-height: 500px;
}

.question .title-min {
    padding: 30px;
    margin-bottom: 0;
}

.question.active .title-min {
    padding-bottom: 18px;
}
.question.active:before {
    transform: rotate(180deg);
    transition: transform .7s ease-in-out;
}

.question .sub-title-min {
    padding: 0 30px 30px
}

.btn-transparent {
    background-color: var(--border-bg-transparent);
    color: var(--white);
    font-size: 14px;
    border: 1px solid var(--white);
    text-transform: uppercase;
}

.banner {
    position: relative;
    height: 615px;
    background: var(--black) url("./img/b.svg");
    background-repeat: no-repeat;
    background-position: 106% bottom;
    background-size: contain;
    overflow: hidden;
    z-index: 1;
}

.banner:before {
    content: '';
    position: absolute;
    width: 866px;
    height: 866px;
    top: 113px;
    left: 20%;
    background: #005DE8;
    opacity: 0.5;
    filter: blur(132px);
    z-index: -1;
}

.wrapper-banner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--white);
}

.wrapper-banner .title-middle {
    width: 80%;
    text-align: left;
}

.small-text {
    margin-bottom: 30px;
    color: var(--white);
    font-size: 20px;
}


.wrapper-contact .icon {
    width: 20px;
    height: 18px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.phone, .email, .location {
    margin: 14px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.phone a, .email a {
    color: var(--white);
    text-decoration: none;
}

.phone a:hover, .email a:hover {
    color: var(--light-bue);
}

.icon-phone {
    background-image: url("./img/phone.svg");
}

.icon-email {
    background-image: url("./img/email.svg");
}

.icon-location {
    background-image: url("./img/location.svg");
}

footer {
    background: var(--white);
}
.wrapper-footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-bg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
}

.nav-item a.hidden {
    color: var(--gray-hidden);
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media-item {
    width: 20px;
    height: 20px;
    margin: 0 11px;
}

@media (min-width: 1440px) {
    .content-wrapper {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Example shadow, adjust as needed */
    }
}

@media (max-width: 1340px) {
    .steps-life-cycle {
        flex-direction: column;
        align-items: center;
    }

    .steps {
        margin-right: 0;
    }

    .steps-life-cycle .life-cycle {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1300px){

    .wrapper-fourth-screen .feature-benefit .title {
        text-align: left;
        margin-bottom: 20px;
    }

}

@media (max-width: 1110px) {
    .app-img {
        position: absolute;
        left: 75%;
    }

    .title-part {
        width: 70%;
    }
}

@media (max-width: 1114px) {
    .wrapper-fourth-screen .feature-benefit .title {
        font-size: 42px;
    }
}


@media (max-width: 1290px) {
    .wrapper-first-screen {
        padding-left: 55px;
    }

    .wrapper-fourth-screen {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-fourth-screen .title {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .features-benefits {
        margin-left: 0;
    }

    .wrapper-banner .btn-transparent{
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 1220px) {

    .wrapper-banner .title-middle {
        width: 90%;
    }

}

@media (max-width: 1010px) {
    .wrapper-footer {
        padding: 40px 30px
    }
}

@media (max-width: 1080px) {
    .wrapper-header {
        max-width: none;
        padding: 0 30px;
    }

    .feature-benefit,
    .feature-benefit:nth-child(even){
        flex-direction: column-reverse;
    }

    .features-benefits-text {
        width: 90%;
    }

    .features-benefits-text .sub-title-min {
        margin-bottom: 30px;
    }

    .img-box {
        min-height: 356px;
        height: 356px;
    }

}


@media (max-width: 1050px) {

    .title-part {
        width: 657px;
    }

    .title-part .title {
        font-size: 55px;
        line-height: 55px;
    }

    .sub-title {
        font-size: 16px;
    }

    .circle-icon.icon-computer img {
        width: 44px;
    }

    .wrapper-third-screen .title {
        max-width: 90%;
        margin: 10px 0;
    }

    .wrapper-third-screen .label {
        margin: 0 auto;
    }

}

@media (max-width: 990px) and (min-width: 910px){
    .app-img {
        left: 58%;
    }
    .title-part {
        width: 547px;
    }
}
@media (max-width: 980px)  {
    .big-text {
        font-size: 35px;
    }
}
@media (max-width: 935px)  {
    .nav-item {
        margin: 0 10px;
    }

}

@media (max-width: 950px)  {
    .title-part {
        width: 60%;
    }

    .wrapper-banner .title-middle {
        font-size: 42px;
    }
}

@media (max-width: 910px) {
    .wrapper-first-screen {
        height: auto;
        flex-direction: column;
        padding: 130px 10px 0;
    }

    .app-img {
        position: static;
    }

    .wrapper-fourth-screen {
        padding: 130px 0;
    }

    .features-benefits {
        align-items: center;
    }

    .title-part {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .title-part .title {
        font-size: 55px;
        line-height: 55px;
    }

    .features-benefits {
        width: 100%;
    }

    .feature-benefit, .question {
        width: 95%;
    }
}

@media (max-width: 855px) {
    .nav-item a {
        font-size: 14px;
    }

    .features-benefits-text {
        width: 100%;
    }

    .wrapper-fourth-screen .feature-benefit .title {
        text-align: center;
    }

    .feature-benefit:nth-child(odd) .features-benefits-text {
        margin-left: 0;
    }

    .feature-benefit:nth-child(even) .features-benefits-text {
        margin-right: 0;
    }

}

@media (max-width: 840px)  {

    .social-media-item img{
        margin: 0 7px;
    }

    .wrapper-banner .title-middle {
        font-size: 42px;
    }

    .wrapper-banner .title-middle {
        width: 100%;
        font-size: 38px;
        line-height: 38px;
    }

    .banner {
        background-size: cover;

    }

}


@media (max-width: 810px) {
    .title-part {
        width: 90%;
        font-size: 45px;
        line-height: 45px;
    }

    .app-img {
        margin-top: -30px;
        transform: scale(.8);
    }

    .wrapper-second-screen .step .title {
        font-size: 28px;
        line-height: 28px;
    }


    .step .sub-title {
        font-size: 20px;
        line-height: 22px;
    }

    .step:not(:last-child):before {
        height: 44px;
    }

}

@media (max-width: 770px) {

    .wrapper-footer {
        flex-direction: column;
    }
    .wrapper-footer .logo-name {
        margin-bottom: 10px;
    }

    .wrapper-third-screen .title,
    .title-middle {
        font-size: 42px;
        line-height: 42px;
    }

    .title-min {
        max-width: 490px;
    }

    .question {
        max-height: 106px;
    }
    .wrapper-second-screen {
        padding-bottom: 620px !important;
    }

    .steps-life-cycle {
        position: relative;
    }

    .life-cycle {
        position: absolute;
        top: 500px;
        justify-content: center;
    }

    .life-cycle-wrapper {
        height: 450px;
        background-size: 360px;
        background-position: 126px 55px;
    }

    .life-cycle .logo-name {
        top: 215px;
        left: 218px;
    }

    .die-automat {
        top: 172px;
        left: 333px;
    }

    .circle-icon-setting {
        top: 13px;
        left: 237px;
    }

    .circle-icon-loupe {
        top: 251px;
        left: 328px;
    }

    .circle-icon-loupe-2 {
        top: 251px;
        left: 109px;
    }

    .die-monitor {
        top: 172px;
        left: 89px;
    }

    .life-cycle-wrapper {
        background-size: 356px;
        background-position: 110px 40px;
    }

    .wrapper-second-screen {
        padding-bottom: 80px;
    }

    .img-box .feature-benefit-img{
        background-size: 70%;
    }

    .img-box,
    .img-life-cycle {
        width: 100%;
    }
}

@media (max-width: 695px) {
    .title-part .sub-title{
        margin-bottom: 10px;
    }
    .title-part .title {
        font-size: 45px;
        line-height: 45px;
    }

    .life-cycle {
        margin-top: 30px;
    }

    .wrapper-banner {
        padding: 50px 30px 0;
    }

    .life-cycle {
        margin-top: 0;
        transform: scale(0.8);
    }


}

@media (max-width: 668px) {
    .wrapper-second-screen {
        padding: 130px 50px 45px;
    }
    .wrapper-third-screen {
        padding: 0 50px 130px;
    }

    .wrapper-third-screen .title {
        font-size: 42px;
    }

    .big-text {
        font-size: 30px;
    }

}

@media (max-width: 640px) {
    .wrapper-second-screen {
        padding-bottom: 56px;
    }

}

@media (max-width: 625px) {


    .title-part {
        margin-top: 30px;
    }

    .title-part .sub-title{
        font-size: 18px;
    }

    .title-part .btn{
        font-size: 18px;
    }

}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
    .wrapper-first-screen {
        height: 50vh;
    }
}


@media only screen and (min-width: 912px) and (min-height: 1368px) {
    .wrapper-first-screen {
        height: 50vh;
    }
}

@media (max-width: 575px) {

    .link {
        font-size: 16px;
        margin-right: 10px;
    }

    .wrapper-third-screen {
        padding: 0 10px 130px;
    }

    .wrapper-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background: none;
    }

    .wrapper-banner .title-middle {
        text-align: center;
    }

    .title-min {
        max-width: 90%;
    }

    .small-text {
        text-align: center;
    }
}


@media (max-width: 548px) {

    .nav {
        flex-direction: column;
    }

    .wrapper-banner .title-middle {
        width: 85%;
    }

    .title-part .title {
        font-size: 35px;
        line-height: 35px;
    }
}

@media (max-width: 540px) {

    .step:not(:last-child):before {
        height: 74px;
    }
    .wrapper-second-screen {
        padding-bottom: 90px !important;
    }

    .life-cycle {
        width: 100%;
        min-width: 100%;
        height: 760px;
        padding-top: 100px;
        margin-top: 0;
        position: static;
        transform: none;
    }

    .circle-icon-big,
    .die {
        position: static;
        z-index: 2;
    }

    .life-cycle-wrapper {
        display: flex;
        width: 100%;
        min-width: 100%;
        height: 688px;
        position: relative;
        top: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: none;
    }


    .life-cycle-wrapper:after {
        content: '';
        width: 4px;
        height: 460px;
        top: 130px;
        position: absolute;
        background: linear-gradient(90deg, rgba(89, 89, 235, 1) 0%, rgba(0, 0, 128, 1) 100%);
        /* transform: rotate(90deg); */
        z-index: 1;
    }

    .life-cycle .logo-name {
        position: relative;
        top: -720px;
        left: 0;
    }
}

@media (max-width: 495px) {

    .wrapper-header .btn-blue {
        min-width: 104px;
        padding: 4px 8px;
        font-size: 16px;
    }

    .title-middle {
        font-size: 32px;
        line-height: 32px;
    }

    .wrapper-third-screen .title {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .features-benefits-text .title {
        margin: 10px 0;
    }

    .wrapper-second-screen .sub-title {
        margin-bottom: 20px;
    }

    .wrapper-second-screen {
        padding: 100px  20px 53px
    }

    .wrapper-third-screen,
    .wrapper-fourth-screen {
        padding: 100px 0;
    }

    .questions .title-min {
        width: 90%;
        font-size: 20px;
        line-height: 20px;
    }

    .questions .sub-title-min {
        font-size: 16px;
        line-height: 25px;
    }

    .title-middle {
        width: 90%;
        font-size: 37px;
        line-height: 37px;
    }
}

@media (max-width: 495px) {
    .wrapper-fourth-screen .title {
        width: 90%;
    }
    .wrapper-banner .title-middle {
        font-size: 32px;
        line-height: 32px;
    }


    .wrapper-fourth-screen .feature-benefit .title {
        width: 100%;
        font-size: 32px;
    }

    .features-benefits-text .sub-title-min {
        font-size: 16px;
    }

    .step:not(:last-child):before {
        height: 64px;
    }


}

@media (max-width: 445px) {

    .wrapper-btn-link {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .link {
        margin-top: 5px;
        margin-right: 0;
    }

    .wrapper-first-screen {
        padding-top: 110px;
    }

    .img-box .feature-benefit-img {
        background-size: 90%;
    }
}

@media (max-width: 440px) {

    .title-part .btn {
        font-size: 14px;
    }
}

@media (max-width: 420px) {

    .wrapper-banner .title-middle {
        font-size: 29px;
        line-height: 30px;
    }

    .title-part {
        margin-top: 10px;
    }

    .title-part .title {
        margin-bottom: 20px;
    }

    .title-middle {
        font-size: 32px;
        line-height: 32px;
    }

    .title-min {
        font-size: 20px;
        line-height: 20px;
    }

    .app-img {
        margin-top: -80px;
    }

    .app-img {
        height: 407px;
        transform: scale(.6);
    }
    
    .wrapper-header .btn{
        min-width: 104px;
        font-size: 15px;
    }

    .logo-name .name {
        width: 80px;
        height: 23px;
    }

    .logo {
        width: 34px;
        height: 35px;
    }
}

@media (max-width: 375px) {
    .features-benefits-text .title {
        font-size: 35px;
    }
    .img-box {
        min-height: 306px;
        height: 316px;
    }
}

@media (max-width: 385px) {
    .step {
        flex-direction: column;
        margin-bottom: 0;
    }
    .step:not(:last-child):before {
        display: none;
    }

    .wrapper-second-screen .sub-title {
        margin-top: 20px;
        padding-left: 0;
    }

    .phone, .email, .location {
        font-size: 16px;
    }
}
